<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Application Vue</title>
    </head>
    <body>
        <div id="app">
            <h1> {{ title }}</h1>
        </div>

        <script src="/app-server/lib/vue.js"></script>
        <script src="/app-server/appVue.js"></script>

    </body>
</html>